<div class="page">
 <h1>
   Welcome to our EPOS System!
 </h1>
  <div class="products" *ngFor="let product of products">
    <div class="" (click)="addRow(product.name, product.price)">
      {{ product.id }}. {{ product.category }} <br>
      <p class="name">{{ product.name }}</p> <br>
      <p class="price">£{{ product.price }}</p>
    </div>
  </div>

  <div class="container basket">
    <table class="table" id="table">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Sub-total</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>
    <h4>Total: </h4>
    <button id="cancel" type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    <button id="checkout" type="button" class="btn btn-primary">Checkout</button>
  </div>
</div>
